<div class="container mb-5">
  <header class="jumbotron d-flex flex-column align-items-end">
    <h1 class="display-4 align-self-start">Mano klinika</h1>
    <div *ngIf="(auth.isAuthenticated$ | async) === false" class="float-right">
      <button type="button" class="btn btn-primary mr-2" (click)="register()">
        Registruotis
      </button>
      <button type="button" class="btn btn-primary" (click)="login()">
        Prisijungti
      </button>
    </div>
    <div *ngIf="(auth.isAuthenticated$ | async) === true">
      <ng-container *ngIf="auth.currentUser$ | async as user">
        <p class="mb-0">
          {{ user.firstName + " " + user.lastName }}
        </p>
        <p class="mb-0">(a.k. {{ user.personalCode }})</p>
      </ng-container>
      <button type="button" class="btn btn-link m-0 p-0" (click)="logout()">
        Atsijungti
      </button>
    </div>
  </header>
  <main class="d-flex flex-row align-items-start">
    <nav *ngIf="auth.isAuthenticated$ | async" class="navbar w-25">
      <ul class="navbar-nav">
        <li class="nav-item mb-1">
          <button class="nav-link btn btn-link" routerLink="appointments/new">Nauja rezervacija</button>
        </li>
        <li class="nav-item mb-1">
          <button class="nav-link btn btn-link" routerLink="appointments">Mano rezervacijos</button>
        </li>
      </ul>
    </nav>
    <div class="w-75">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
